.link-container .show-rings {
  font-family: myFirstFont;
  font-size: 0.875rem;
  cursor: pointer;
  width: max-content;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  line-height: 1.625;
  letter-spacing: 0.025em;
  /* color: white; */
  color: #1c1794;
  text-transform: uppercase;
  flex: 1;
}

.link-container .show-rings::after {
  position: absolute;
  /* background-color: white; */
  background-color: #1c1794;
  width: 100%;
  left: 0;
  display: block;
  content: "";
  height: 1px;
  bottom: 0;
}

.link-container:hover .show-rings::after {
  animation: lineAnim 1s linear infinite;
  -webkit-animation: lineAnim 1s linear infinite;
}

@media all and (max-width: 768px) {
  .link-container .show-rings {
    margin: 0 auto;
  }
}

@media all and (min-width: 1024px) {
  .link-container .show-rings {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@keyframes lineAnim {
  0% {
    left: 0%;
    width: 20%;
  }

  50% {
    left: 50%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}
