.heroSection {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}

.overlay-section {
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  padding-bottom: 3rem;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.left-section h1 {
  font-family: "Louize Display trial";
}

.left-section .left-main-heading {
  font-size: 40px;
  font-weight: 400;
  color: white;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.left-section p {
  font-size: 18px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: white;
}

.left-section .head2 {
  margin-left: auto;
  width: 92%;
}

.right-section .right-image {
  display: flex;
  height: 90vh;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://frankdarling.com/_next/image/?url=%2Fassets%2Fimages%2Finfluencers%2Fsmall-parker-headshot.jpeg&w=3840&q=75");
}

@media all and (max-width: 768px) {
  .right-section {
    display: none;
  }

  .left-section {
    width: 90%;
  }

  .left-section p {
    text-align: center;
    font-size: 1.125rem;
  }

  .left-section .left-main-heading {
    font-size: 8vw !important;
    line-height: 1 !important;
  }

  .left-section {
    width: 92%;
  }

  .left-section .left-main-heading {
    font-size: 8vw;
  }
}
