.mobile-options-container {
  padding-top: 1.75rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 50;
  font-family: myFirstFont;
  align-items: flex-start;
  width: 100%;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}

.mobile-options-link-container {
  font-family: "Louize Display trial";
  font-size: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.mobile-options-link-container a {
  height: 28px;
  font-size: 1.125rem;
  display: flex;
  color: #1c1794;
  text-decoration: none;
}

.mobile-options-link-container a span {
  padding-right: 0.75rem;
}

.mobile-options-section:first-child {
  margin-top: 0;
}

.mobile-options-section:last-child {
  margin-bottom: 0;
}

.mobile-options-section {
  margin-bottom: 1.5rem;
  width: 100%;
}

.mobile-option-first {
  color: #1c1794;
  padding: 0.5rem 0;
}

.mobile-option-first h3 {
  font-size: 1rem;
}
.mobile-option-first .link-container {
  padding-top: 10px;
  letter-spacing: 0.025em;
  line-height: 1.625;
}
