@import url(//db.onlinewebfonts.com/c/a533e6fa2fb2d762dab84b03684d49f3?family=Louize+Display+trial);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (max-width: 320px) {
  .text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
}
